:root {
  --muted: #767676;
  --line: #ececec;
  --h-line: #000;
  
}

.resume1-body {
    margin: 0;
    background: #fff;
    color: #111;
    font-size: var(--font-size);
    font-family: serif;
}

.resume1-body .sheet {
  margin: 0px auto;
  border-left: 6px solid #fff;
}

.resume1-body .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.resume1-body.left-align .header {
  align-items: flex-start;
}

.resume1-body.left-align .contact {
  text-align: left;
}

.resume1-body.right-align .header {
  align-items: flex-end;
}

.resume1-body.right-align .contact {
  text-align: right;
}

.resume1-body.center-align .header {
  align-items: center;
}

.resume1-body.center-align .contact {
  text-align: center;
}

.resume1-body .hbr {
  text-decoration: none;
  color: inherit;

  border-right: 2px solid var(--line);
}
.resume1-body h1 {
  font-size: calc(var(--font-size) * 2.4);
  margin: 0;
  text-align: center;
  transform: scaleX(1.05416);
}
.resume1-body .contact {
  font-size: inherit;
  color: var(--muted);
  text-align: center;
}

.resume1-body .contact > * {
  display: inline-block;
  margin: 2px 0px;
  padding: 0px 3px;
}
.section {
  margin-top:  7px;
  padding-top: 6px;
  /* border-top: 1px solid var(--line); */
}
.resume1-body h2 {
  font-size: calc(var(--font-size) * 1.2);
  margin: 0 0 4px 0;
  text-transform: uppercase;
  color: #222;
  border-bottom: 2px solid var(--h-line);
}
.resume1-body .role {
  font-weight: 700;
}
.resume1-body .meta {
  font-size: inherit;
  color: var(--muted);
  font-style: italic;
}

.resume1-body ul {
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
}

.resume1-body .edu-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
}
.resume1-body .edu-school-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.resume1-body .edu-school-info > .school-name,
.edu-duration {
  font-weight: bold;
}

.resume1-body .exp-section {
  margin-bottom: 10px;
}

.resume1-body .exp-section li {
  margin-bottom: 2px;
}

.resume1-body .exp-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3px;
}

.resume1-body .skills {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.resume1-body .skills li {
  display: inline-block;
  margin-right: 4px;
}

.resume1-body .skill-section {
  display: flex;
  gap: 4px;
}

.skill-section .topic {
  font-weight: bold;
}
