@font-face {
    font-family: "circlar std";
    src: url("../assets/fonts/circular-std-medium-500.ttf") format("woff");
    /* font-weight: 400; */
    font-style: normal;
}

.editor-layout {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.layout-section {
    min-width: calc(50vw - 60px);
    height: 100vh;
    overflow-y: scroll;
    padding: 10px;
    padding-bottom: 80px;
    font-family: "circlar std";
    color: rgb(38,49,55);
}

/*
/////////////////////////////////////////////////
// Content Editor Styles Starts Here
/////////////////////////////////////////////////
*/

.content-editor-layout {
    font-family: "circlar std";
}

.content-editor-children {
    background: white;
    color: rgb(38,49,55);
    padding: 25px;
    border-radius: 10px;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));
    margin: 25px auto;
}

.content-editor-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-editor-heading h2 {
    margin: 0px;
}

.content-editor-heading .header-btn-holder {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
}

.content-editor-heading .hide-btn {
    font: inherit;
    color: inherit;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

button.toggle-form {
    padding: 0px 10px;
    padding-top: 1px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(107 114 128);
    background: rgb(248 250 252);
    border: .1px solid rgb(224, 230, 236);
    transform: scaleX(1.7) rotateZ(-90deg);
}

button.toggle-form:hover {
    color: rgb(54, 58, 66);
    transition: color 0.3s ease-in;
}

.toggle-form-down {
    transform: scaleX(1.7) rotateZ(-90deg) rotateY(180deg) !important;
}

.content-editor-heading button.content-edit {
    transform: scale(.9);
}

.icon-btn {
    background: none;
    border: none;
    margin: 0px;
}

.pointer:hover {
    cursor: pointer;
}

.content-editor-heading .heading-holder {
    display: flex;
    gap: 2px;
}

.heading-holder .drag-btn img{
    transform: scale(1.7);
}

.content-editor-body {
    margin-top: 25px;
}

.content-hidden {
    display: none !important;
}

.label {
    font-size: 14px;
}

.header-label-holder {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 5px;
}

.view-btn {
    display: flex;
    gap: 5px;
    color: inherit;
    font: inherit;
}

.contact-info-settings {
    display: flex;
    padding: 20px 0px;
    gap: 10px;
}

.highlight-input {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d2d4d6;
    box-shadow: 0 1px 2px 0 #eaecee;
    font: inherit;
    font-size: 14px;
    color: inherit;
}

.highlight-input:focus {
    border: 1px solid rgb(62 192 221);
    box-shadow: 0 1px 2px 0 rgb(203, 231, 236);
}

.highlight-input::placeholder {
    font: inherit;
    font-size: 14px;
}

.ai-helper-btns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px 0px;
}
.ai-helper-btns button > img {
    transform: scale(.85)
}
.ai-helper-btns button {
    display: flex;
    gap: 6px;
    align-items: center;
    font-weight: bold;
    color: inherit;
    padding: 10px;
    border-radius: 5px;
    transition: border 0.5s ease-in;
}

.ai-suggest {
    color: rgb(62 192 221) !important;
    border: 1px solid rgb(62 192 221);
}

.ai-suggest:hover {
    border: 1px solid rgb(35, 119, 138);
}

.ai-settings {
    border: 1px solid rgb(191, 201, 223);
}

.ai-settings:hover {
    border: 1px solid rgb(74, 80, 91);
}

.grabbable:hover {
    cursor: grab;
}

.grabbable:active {
    cursor: grabbing;
}


.add-section {
    background: #f8fafc;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e8e9eb;
    margin-bottom: 15px;
}

.add-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.add-section-header .heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    text-align: left;
}

.add-section-header .heading h4 {
    margin: 0px;
}

.add-section-header > button {
    font: inherit;
    font-size: 14px;
    border: none;
    background: rgb(18,161,192);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.add-section-header .heading > img {
    width: 20px;
    height: 20px;
}

.add-section-header .heading > button {
    transform: scaleX(2) rotateZ(-90deg);
    font-family: sans-serif;
    font-weight: light;
    color: rgb(107 114 128);
}

.add-section-header .arrow-down {
    transform: scaleX(2) rotateZ(90deg) !important;
}

.add-section-description {
    text-align: left;
    font-weight: light;
    color: rgb(63 82 91);
    font-size: 14px;
    line-height: 20px;
    padding-left: 25px;
}

.content-item {
    border: 1px solid #e8e9eb;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 15px;
}

.content-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

.content-item-header .heading {
    display: flex;
}

.content-item-header .heading button.icon-btn {
    transform: scale(1.4);
}

.education-content-item-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    gap: 10px;
}

.content-item-body textarea {
    width: 100%;
    height: 80px;
}

.exp-role {
    display: flex;
}

.exp-role h4 {
    margin: 0px;
    padding: 0px;
}

.exp-role button {
    transform: scale(.8)
}

.exp-item-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-top: 10px;
}


.exp-item-input input[type="checkbox"] {
    width: 15px;
    height: 15px;
    accent-color: #12A1C0;
    border-radius: 10px !important;
}

.exp-item-input .ai-assist-btn {
    border: 1px solid #12A1C0;
    padding: 10px;
    border-radius: 5px;
}

.ai-assist-btn:hover {
    border: 1px solid rgb(35, 119, 138);
}

.exp-item-input input[type="text"] {
    font: inherit;
    color: inherit;
    font-size: 14px;
    padding: 10px;
    display: block;
    width: 100%;
}

.exp-item-input input[type="text"]:focus {
    height: 100px;
}

.add-exp-item-btn {
    color: rgb(38, 165, 193);
    font: inherit;
    font-size: 14px;
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.166);
}

.add-exp-item-btn:hover {
    color: rgb(62 192 221);
}

.add-btn-holder {
    text-align: left;
    padding-top: 15px;
    padding-left: 30px;
}

.content-editor-header {
    display: flex;
    margin-top: 15px;
    gap: 5px;
}

.content-editor-header h2 {
    margin: 0px;
    color: rgb(38 49 55);
}

.active-tab-btn {
    color: rgb(62 192 221) !important;
    border: 1px solid rgb(62 192 221) !important;
    border-radius: 5px;
}

.tab-btn {
    padding: 7px;
    font-weight: bold;
    color: rgb(38 49 55);
}

.tab-btn img {
    width: 14px;
    padding-right: 5px;
}

.editor-tab {
    display: flex;
    justify-content: flex-end;
}

.skill-layout {
    padding: 20px;
}

.skill-layout.bottom-border {
    border-bottom: 1px solid #cbc9c9;
}

.skill-category-section {
    margin-bottom: 30px;
}

.editor-tab .tabs-holder {
    background: white;
    width: fit-content;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #cbc9c9;
}

.skill-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.skill-section-header h4 {
    font-size: 24px;
    margin: 0px;
}

.skill-section-header .icon-btn {
    font: inherit;
    color: inherit;
    display: inline-flex;
    gap: 5px;
}

.skill-section-header .toggle-form {
    margin-left: 10px;
}

.skill-section .add-skill-form {
    display: flex;
    gap: 10px;
    margin: 15px auto;
}

.skill-section .add-skill-form button {
    min-width: fit-content;
    border-radius: 5px;
    border: none;
    background: #12A1C0;
    color: white;
    font: inherit;
    font-size: 14px;
    padding: 10px;
}

.skills-holder {
    background: #f8fafc;
    padding: 20px;
    min-height: 70px;
    border: 1px dashed rgb(213, 215, 224);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-basis: 33%;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-item {
    background: #12A1C0;
    color: white;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 14px;
    font-size: 14px;
}

.skill-item .icon-btn {
    position: relative;
    top: 3px;
}

.skills-holder p {
    color: #A4A4A4;
    font-size: 14px;
}

.category-name-form {
    text-align: left;
    font-size: 14px;
}

.category-name-form .highlight-input {
    margin-top: 10px;
}

.category-btn-holder {
    text-align: left;
    margin: 5px;
}

.category-btn-holder button {
   font: inherit; 
   font-size: 14px;
   padding: 10px;
   display: flex;
   gap: 10px;
   color: inherit;
}

.language-section {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;
}

.language-section .language-items {
    background: #12A1C0;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

.interest-section {
    margin-bottom: 30px;
}

.add-custom-section button{
    font: inherit;
    font-size: 14px;
    border: none;
    background: rgb(18, 161, 192);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

/*
/////////////////////////////////////////////////
// Content Editor Styles Ends Here
/////////////////////////////////////////////////
*/


/*
/////////////////////////////////////////////////
// Design Editor Styles Starts Here
/////////////////////////////////////////////////
*/

.design-editor-section {
    font-family: "circlar std";
    background: white;
    color: rgb(38,49,55);
    padding: 30px;
    border-radius: 10px;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));
    margin: 25px auto;
    text-align: left;
}

.design-editor-section h3 {
    margin: 0px;
    margin-bottom: 20px;
}

.design-editor-section .layout-selector {
    display: flex;
    gap: 20px;
    padding: 20px 0px;
    overflow-x: scroll;
}

.design-editor-form {
    padding: 20px 0px;
    /* margin-bottom: 40px; */
}

.design-editor-form.bottom-border {
    border-bottom: 1px solid #cbc9c9;
}

.layout-selection-item {
    position: relative;
}

.layout-selection-item h5 {
    padding: 10px 0px;
}

.layout-selection-item img.resume-img {
    max-width: 160px;
    height: 220px;
    border: 4px solid #d5d7e0;
    border-radius: 7px;
    transition: .2s border ease-in;
}

.layout-selection-item:hover img.resume-img {
    border: 4px solid#8e97a5;
    cursor: pointer;
}


.selected-layout img {
    border: 4px solid #3ec0dd !important;
}  

.layout-selection-item > .floating-color-selector {
    position: absolute;
    bottom: 50px;
    left: 0px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 7px;
}

.layout-selection-item > .floating-color-selector button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid #d4d7e0;
    padding: 0px;
    position: relative;
}

.layout-selection-item > .floating-color-selector button.active-color {
    border: 4px solid #3ec0dd !important;
}

.layout-selection-item > .floating-color-selector button::after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: -1px;
}

.layout-selection-item.active-layout > img.resume-img {
    border-color: #1DA5C3;
}

.layout-selection-item.active-layout > .check-mark {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1DA5C3;
    border: 2px solid white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    bottom: 17.5px;
    right: -12.5px;
}

.layout-selection-item.active-layout > .check-mark img {
    width: 16px;
}

.style-selector-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px 0px;
}

.style-select-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.style-select-form h4 {
    font: inherit;
    color: inherit;
    font-size: 14px;
}

.style-select-form select {
    font: inherit;
    font-size: 14px;
    color: inherit;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d2d4d6;
    box-shadow: 0 1px 2px 0 #eaecee;
    outline: none;
    width: 48%;
    appearance: none;
    background: url('../assets/icons/angle-small-up.png') no-repeat right 10px center;
    background-size: 20px;
}

.style-select-form select:focus {
    border: 2px solid #1DA5C3;
}

.skill-layout-selection-item .sample-holder {
    display: flex;
    gap: 10px;
}

.skill-layout-selection-item .sample-body {
    border: 1px solid #e8e9eb;
    padding: 25px;
    border-radius: 10px;
    width: 40%;
    margin-top: 10px;
}

.skill-layout-selection-item .sample-body ul {
    padding: 15px;
    margin: 0px;
    margin-top: 10px;
    background: #f8fafc;
    border: 1px solid #e8e9eb;
    border-radius: 10px;
    font-size: 12px;
    list-style: none;
}

.skill-layout-selection-item .sample-body ul li {
    color: rgb(94, 109, 117);
}

.skill-layout-selection-item .sample-body ul li b {
    color: rgb(38,49,55)
}

.skill-layout-selection-item .sample-body .selection-heading {
    display: flex;
    justify-content: space-between;
}

.skill-layout-selection-item .sample-body .selection-heading span.check-holder {
    background: #c8cacc;
    padding: 1px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.skill-layout-selection-item .sample-body .selection-heading span.check-holder.active {
    background: #12A1C0;
}

.skill-layout-selection-item .sample-body .selection-heading span.check-holder img {
    width: 8px;
    height: 8px;
}

/*
/////////////////////////////////////////////////
// Design Editor Styles Ends Here
/////////////////////////////////////////////////
*/


/*
/////////////////////////////////////////////////
// PDF Preview Styles Starts Here
/////////////////////////////////////////////////
*/

.pdf-preview {
    background: #dff9ff;
    height: fit-content;
    margin: 40px 0px;
    padding: 20px 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.page {
    width: 612px;
    min-height: 792px;
    overflow-y: hidden;
    box-sizing: border-box;
    text-align: left;
    padding: 20px 10px;
}

/* resume page customization styles */

.page.not-listed ul {
    list-style: none !important;
}

.page.list-disc:not(.not-listed) ul {
    list-style-type: disc !important;
}

.page.list-dash:not(.not-listed) ul li::marker {
    content: "-";
    font-size: inherit;
}

.page.list-arrow li,
.page.list-dash li,
.page.list-disc li {
    padding-left: 2px !important;
}

.page.list-arrow:not(.not-listed) ul li::marker {
    content: "»";
    font-size: inherit;
}

.page.fs7px {
    --font-size: 7px;
}

.page.fs8px {
    --font-size: 8px;
}

.page.fs9px{
    --font-size: 9px;
}

.page.fs10px {
    --font-size: 10px;
}

.page.fs11px {
    --font-size: 11px;
}

.page.fs12px {
    --font-size: 12px;
}

.page.fs14px {
    --font-size: 14px;
}


.editable-section:hover {
    background: #dff9ff94 !important;
    cursor: pointer;
}

.editable-section:hover:has(.editable-section:hover) {
    background: inherit !important;
}

.resume4 .sidebar .editable-section:hover {
    box-sizing: border-box;
    padding: 0px 5px 5px 5px;
}

.resume2 .header .editable-section:hover,
.resume4 .sidebar .editable-section:hover * {
    color: #000 !important;
}

.resume3 .left span.editable-section {
    display: inline-block;
    width: 100%;
}

.edit-selected {
    animation: selection-fx 1s 2;
}

@keyframes selection-fx {
    from {
        border-radius: 10px;
        border: 1px solid #76e6ff;
    }
    to {
        border-width: 6px;
    }
}