@font-face {
    font-family: "circlar std";
    src: url("../assets/fonts/circular-std-medium-500.ttf") format("woff");
    /* font-weight: 400; */
    font-style: normal;
}

.editor-layout {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.layout-section {
    min-width: calc(50vw - 60px);
    height: 100vh;
    overflow-y: scroll;
    /* background: pink; */
    padding: 2px;
}

.content-editor-layout {
    font-family: "circlar std"
}

.content-editor-children {
    background: white;
    color: rgb(38,49,55);
    padding: 25px;
    border-radius: 10px;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));
    margin: 25px auto;
}

.content-editor-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-editor-heading h2 {
    margin: 0px;
}

button.toggle-form {
    padding: 0px 10px;
    padding-top: 1px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(107 114 128);
    background: rgb(248 250 252);
    border: .1px solid rgb(224, 230, 236);
    transform: scaleX(1.7) rotateZ(-90deg);
}

button.toggle-form:hover {
    color: rgb(54, 58, 66);
    transition: color 0.3s ease-in;
}

.toggle-form-down {
    transform: scaleX(1.7) rotateZ(-90deg) rotateY(180deg) !important;
}

.content-editor-heading button.content-edit {
    transform: scale(.9);
}

.icon-btn {
    background: none;
    border: none;
    margin: 0px;
}

.pointer {
    cursor: pointer;
}

.content-editor-heading .heading-holder {
    display: flex;
    gap: 2px;
}

.heading-holder .drag-btn img{
    transform: scale(1.7);
}

.content-editor-body {
    margin-top: 25px;
}

.content-hidden {
    display: none;
}

.label {
    font-size: 14px;
}

.header-label-holder {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 5px;
}

.view-btn {
    display: flex;
    gap: 5px;
    color: inherit;
    font: inherit;
}

.contact-info-settings {
    display: flex;
    padding: 20px 0px;
    gap: 10px;
}

.highlight-input {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d2d4d6;
    box-shadow: 0 1px 2px 0 #eaecee;
    font: inherit;
    color: inherit;
}

.highlight-input:focus {
    border: 1px solid rgb(62 192 221);
    box-shadow: 0 1px 2px 0 rgb(203, 231, 236);
}

.highlight-input::placeholder {
    font: inherit;
}

.ai-helper-btns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px 0px;
}
.ai-helper-btns button > img {
    transform: scale(.85)
}
.ai-helper-btns button {
    display: flex;
    gap: 6px;
    align-items: center;
    font-weight: bold;
    color: inherit;
    padding: 10px;
    border-radius: 5px;
    transition: border 0.5s ease-in;
}

.ai-suggest {
    color: rgb(62 192 221) !important;
    border: 1px solid rgb(62 192 221);
}

.ai-suggest:hover {
    border: 1px solid rgb(35, 119, 138);
}

.ai-settings {
    border: 1px solid rgb(191, 201, 223);
}

.ai-settings:hover {
    border: 1px solid rgb(74, 80, 91);
}

.grabbable:hover {
    cursor: grab;
}

.grabbable:active {
    cursor: grabbing;
}


.add-section {
    background: #f8fafc;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e8e9eb;
    margin-bottom: 15px;
}

.add-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.add-section-header .heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-section-header .heading h4 {
    margin: 0px;
}

.add-section-header > button {
    font: inherit;
    font-size: 14px;
    border: none;
    background: rgb(18,161,192);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.add-section-header .heading > img {
    width: 20px;
    height: 20px;
}

.add-section-header .heading > button {
    transform: scaleX(2) rotateZ(-90deg);
    font-family: sans-serif;
    font-weight: light;
    color: rgb(107 114 128);
}

.add-section-header .arrow-down {
    transform: scaleX(2) rotateZ(90deg) !important;
}

.add-section-description {
    text-align: left;
    font-weight: light;
    color: rgb(63 82 91);
    font-size: 14px;
    line-height: 20px;
    padding-left: 25px;
}

.content-item {
    border: 1px solid #e8e9eb;
    border-radius: 5px;
    padding: 20px;
}

.content-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.content-item-header .heading {
    display: flex;
}

.content-item-header .heading button.icon-btn {
    transform: scale(1.4);
}

.content-item-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.content-item-body textarea {
    width: 100%;
    height: 80px;
}